@model Mall.Models.Common.PaginatedList<Mall.Models.PaintSizes>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>



<form id="pagerForm" method="post" action="@Url.Action("Index")">
    <input type="hidden" name="status" value="status" />
    <input type="hidden" name="keywords" value="keywords" />
    <input type="hidden" name="numPerPage" value="@Model.PageSize" />
    <input type="hidden" name="pageNum" value="1" />
    <input type="hidden" name="orderField" value="" />
</form>

<div class="panelBar">
	<ul class="toolBar">
		<li class=""><a class="add" href="@Url.Action("Create")" rel="BrandCreate" target="navTab"><span>添加</span></a></li>
        <li><a class="delete" href="@Url.Action("DeleteList")"
            posttype="string" rel="ids" target="selectedTodo" title="确实要删除这些记录吗?"><span>批量删除</span>
        </a></li>
		<li class=""><a class="edit" href="@Url.Action("Edit")/{mid}" target="navTab"><span>修改</span></a></li>
		<li class="line">line</li>
		<li class=""><a class="icon" href="demo/common/dwz-team.xls" target="dwzExport" targettype="navTab" title="实要导出这些记录吗?"><span>导出EXCEL</span></a></li>
	</ul>
</div>

<table class="table" width="100%">
    <thead>
	
        <th width="22">
            <input type="checkbox" group="ids" class="checkboxCtrl">
        </th>
        <th>
            GoodsID
        </th>
        <th>
            Width
        </th>
        <th>
            Height
        </th>
        <th>
            Cycle
        </th>
        <th>
            Price
        </th>
        <th></th>
    </thead>

@foreach (var item in Model) {
    <tr target="mid" rel="@item.ID">
        <td>
            <input name="ids" type="checkbox" value='@item.ID' />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GoodsID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Width)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Height)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cycle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            <div>
				<a class="btnEdit" href="@Url.Action("Edit")/@item.ID" target="navTab" title="编辑">编辑</a>
				<a class="btnDel" href="@Url.Action("Delete")/@item.ID" target="ajaxTodo" title="确认删除该条记录吗？">删除</a>
			</div>
        </td>
    </tr>
}

</table>

<div class="panelBar">
    <div class="pages">
        <span>显示</span>
        <select class="combox" name="numPerPage" change="navTabPageBreak" param="numPerPage">
            <option value="@Model.PageSize">选择</option>
            <option value="3">20</option>
            <option value="30">30</option>
            <option value="50">50</option>
            <option value="100">100</option>
        </select>
        <span>条，共 @Model.TotalCount 条</span>
    </div>
    <div class="pagination" targettype="navTab" totalcount="@Model.TotalCount" numperpage="@Model.PageSize" pagenumshown="15" currentpage="@Model.PageIndex"></div>
</div>

